@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700&display=swap');

:root{
    --main-color:#D7AE56;
    --black: #13131a;
    --bg: #010103;
    --two-color: #542201;
    --border: .1rem solid #D7AE56;
}
*{
    font-family: 'Roboto', sans-serif;
    margin: 0; padding: 0;
    box-sizing: border-box;
    outline: none; border: none;
    text-decoration: none;
    text-transform: capitalize;
    transition: .2s linear;
}
html {
    font-size: 62.5%;
    overflow-x: hidden;
    scroll-padding-top: 9rem;
    scroll-behavior: smooth;
}
html::-webkit-scrollbar {
    width: .8rem;
}
html::-webkit-scrollbar-track {
    background: transparent;
}
html::-webkit-scrollbar-thumb {
    background: #fff;
    border-radius: 5rem;
}

body{
    background: var(--bg);
}
section{
    padding: 2rem 7%;
}
.judul{
    text-align: center;
    color: #542201;
    text-transform: uppercase;
    padding-bottom: 3.5rem;
    font-size: 4rem;
}
.judul span{
    color: var(--main-color);
    text-transform: uppercase;
}
.btn{
    margin-top: 1rem;
    display: inline-block;
    padding: .9rem 3rem;
    font-size: 1.7rem;
    color: #542201;
    background: var(--main-color);
    cursor: pointer;
    border-radius: 5px;
}
.btn:hover{
    letter-spacing: .2rem;
}
.header{
    background: var(--bg);
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1.5rem 7%;
    border-bottom: var(--border);
    position: fixed;
    top: 0; left: 0; right: 0;
    z-index: 1000;
}
.header .navbar a{
    margin: 0 1rem;
    font-size: 1.6rem;
    color: #fff;
}
.header .navbar a:hover{
    color: var(--main-color);
    border-bottom: .1rem solid var(--main-color);
    padding-bottom: .5rem;
}
.header .icons div{
    color: #fff;
    cursor: pointer;
    font-size: 2.5rem;
    margin-left: 2rem;
}
.header .icons div:hover{
        color: var(--main-color);
}
#menu-btn{
    display: none;
}

.header .search-form{
    position: absolute;
    top: 115%; right: 7%;
    background: #fff;
    width: 50rem;
    height: 5rem;
    display: flex;
    align-items: center;
    transform: scaleY(0);
    transform-origin: top;
}
.header .search-form.active{
    transform: scaleY(1);
}
.header .search-form input{
    height: 100%;
    width: 100%;
    font-size: 2rem;
    padding: 1rem;
    color: var(--black);
    text-transform: none;
}

.header .search-form label{
    cursor: pointer;
    font-size: 2.2rem;
    margin-right: 1.5rem;
    color: var(--black);
}
.header .search-form label:hover{
    color: var(--main-color);
}

.header .container-cart{
    position: absolute;
    top: 100%; right: -100%;
    height: calc(100vh - 9.5rem);
    width: 35rem;
    background: #542201;
    padding-bottom:0 1.5rem;
    padding: 0 2rem 0 2rem;
}
.header .container-cart.active{
    right: 0;
}
.header .container-cart .item-cart{
    position: relative;
    margin: 2rem 0;
    display: flex;
    align-items: center;
    gap: 1.5rem;
}
.header .container-cart .item-cart .fa-times{
    position: absolute;
    top: 1rem; right: 1rem;
    font-size: 2rem;
    cursor: pointer;
    color: #fff;
}
.header .container-cart .item-cart .fa-times:hover{
    color: var(--main-color);
}
.header .container-cart .item-cart img{
    height: 7rem;
}
.header .container-cart .item-cart .keterangan .harga{
    font-size: 1.5rem;
    color: var(--main-color);
    padding-bottom: .5rem;
}
.header .container-cart .item-cart .keterangan h2{
    color: #fff;
}
.header .container-cart .btn{
    width: 100%;
    text-align: center;
}
.home{
    min-height: 100vh;
    display: flex;
    align-items: center;
    background: url(../jumbotron\ kopi.jpg) no-repeat;
    background-size: cover;
    background-position: center;
}
.home .konten{
    max-width: 60rem;
}
.home .konten h3{
    font-size: 6rem;
    text-transform: uppercase;
    color: #fff;
}
.home .konten p{
    font-size: 2rem;
    font-weight: lighter;
    line-height: 1.8;
    padding: 1rem 0;
    color: #eee;
}
.about .baris{
    display: flex;
    align-items: center;
    background: #542201;
    flex-wrap: wrap;
    border-radius: 10px;
}
.about .baris .gambar{
    flex: 1 1 45rem;
}
.about .baris .gambar img{
    width: 100%;
}
.about .baris .text-about{
    flex: 1 1 45rem;
    padding: 2rem;
}
.about .baris .text-about h3{
    font-size: 3rem;
    color: #fff;
}
.about .baris .text-about p{
    font-size: 1.6rem;
    color: #ccc;
    padding: 1rem 0;
    line-height: 1.8;
}
.menu .container-box{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(30rem, 1fr));
    gap: 1.5rem;
}
.menu .container-box .box{
    padding: 5rem;
    text-align: center;
    border: var(--border);
    border-radius: 10px;
}
.menu .container-box .box img{
    height: 10rem;
}
.menu .container-box .box h3{
    color: #fff;
    font-size: 2rem;
    padding: 1rem 0;
}
.menu .container-box .box .harga{
    color: #fff;
    font-size: 2.5rem;
    padding: .5rem 0;
}
.menu .container-box .box .harga span{
    font-size: 1.5rem;
    text-decoration: line-through;
    font-weight: lighter;
}
.menu .container-box .box:hover{
    background: var(--two-color);
}
/* .menu .container-box .box:hover > h3 div span{
    color: var(--main-color);
} */
.products .container-box{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(30rem, 1fr));
    gap: 1.5rem;
}
.products .container-box .box{
    text-align: center;
    border: var(--border);
    padding: 2rem;
    border-radius: 10px;
}
.products .container-box .box .icons a{
    height: 5rem;
    width: 5rem;
    line-height: 5rem;
    font-size: 2rem;
    border: var(--border);
    color: #fff;
    margin: .3rem;
    border-radius: 50%;
}
.products .container-box .box .icons a:hover{
    background: var(--main-color);
}
.products .container-box .box .image{
    padding: 2.5rem 0;
}
.products .container-box .box .image img{
    height: 25rem 0;
}
.products .container-box .box .content h3{
    color: #fff;
    font-size: 2.5rem;
}
.products .container-box .box .content .stars{
    padding: 1.5rem;
}
.products .container-box .box .content .stars i{
    font-size: 1.7rem;
    color: var(--main-color);
}
.products .container-box .box .content .harga{
    color: #fff;
    font-size: 2.5rem;
}
.products .container-box .box .content .harga span{
    text-decoration: line-through;
    font-weight: lighter;
    font-size: 1.5rem;
}

.review .container-box{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(30rem, 1fr));
    gap: 1.5rem;
}
.review .container-box .box{
    border: var(--border);
    text-align: center;
    padding: 3rem 2rem;
    border-radius: 10px;
}
.review .container-box .box p{
    font-size: 1.5rem;
    line-height: 1.8;
    color: #ccc;
    padding: 2rem 0;
}
.review .container-box .box .user{
    height: 7rem;
    width: 7rem;
    border-radius: 50%;
    object-fit: cover;
}
.review .container-box .box h3{
    padding: 1rem 0;
    font-size: 2rem;
    color: #fff;
}
.review .container-box .box .stars i{
    font-size: 1.5rem;
    color: var(--main-color);
}

.contact .row{
    display: flex;
    background: var(--two-color);
    flex-wrap: wrap;
    gap: 1rem;
    border-radius: 10px;
}
.contact .row .map{
    flex: 1 1 45rem;
    width: 100%;
    object-fit: cover;
}
.contact .row form{
    flex: 1 1 45rem;
    padding: 5rem 2rem;
    text-align: center;
}
.contact .row form h3{
    text-transform: uppercase;
    font-size: 3.5rem;
    color: #fff;
}
.contact .row form .inputbox{
    display: flex;
    align-items: center;
    margin-top: 2rem;
    margin-bottom: 2rem;
    background: var(--two-color);
    border: var(--border);
    border-radius: 10px;
}
.contact .row form .inputbox span{
    color: #fff;
    font-size: 2rem;
    padding-left: 2rem;
}
.contact .row form .inputbox input{
    width: 100%;
    padding: 2rem;
    font-size: 1.7rem;
    color: #fff;
    text-transform: none;
    background: none;
}
.footer{
    background: var(--two-color);
    margin-top: 5rem;
}
.footer .container-box{
    width: 30rem;
}
.footer .container-box h2{
    font-size: 3.5rem;
    color: var(--main-color);
}
.footer .container-box p{
    margin-top: 1rem;
    color: #fff;
    font-size: 1.5rem;
    line-height: 2rem;
    margin-bottom: 1rem;
}
.footer .container-box hr{
    border: var(--border);
}
.footer .container-box .share{
    font-size: 2.5rem;
    text-align: center;
    margin: .5rem;
}
.footer .container-box .share a{
    height: 4rem;
    width: 4rem;
    line-height: 4rem;
    color: #fff;

    margin: .3rem;
    border-radius: 50%;
}
.footer .container-box .share a:hover{
    background: var(--main-color);
    color: var(--two-color);
}

































/* media queri */
@media(max-width:991px){
    html{
        font-size: 55%;
    }
    .header{
        padding: 1.5rem 2rem;
    }
    section{
        padding: 2rem;
    }
}
@media(max-width:768px){
    #menu-btn{
        display: inline-block;
    }
    .header .navbar{
        position: absolute;
        top: 100%; right: -100%;
        background: #fff;
        width: 30rem;
        height: calc(100vh - 9.5rem);
    }
    .header .navbar.active{
        right: 0;
    }
    .header .navbar a{
        color: var(--black);
        display: block;
        margin: 1.5rem;
        padding: .5rem;
        font-size: 2rem;
    }
    .header .search-form{
        width: 90%;
        right: 2rem;
    }
    .home{
        background-position: left;
        justify-content: center;
        text-align: center;
    }
    .home .content h3{
        font-size: 4.5rem;
    }
    .home .content p{
        font-size: 1.5rem;
    }
}
@media(max-width:450px){
    html{
        font-size: 50%;
    }
}
